body{
    background: linear-gradient(to right,#3d707a, #89e7f2, #3d707a);
}
.container{
    background-color: #f9f9f9;
    display: flex;
    width: 900px;
    height: 450px;
    margin: 0 auto;
    margin-top: 130px;
    border-radius: 20px;
}
.leftarea{
    width: 35%;
    height: 410px;
    padding: 20px;
    background: linear-gradient(#fc8835,#eb7928,#c9631a);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
    
}
img{
    border-radius: 50%;
    border: 5px solid black;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 0;
}
.data{
    margin-left:60px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0;
    font-size: 18px;
}
.rightarea{
    width: 65%;
    height: 90%;
    padding: 30px;
    margin-left: 20px;
    margin-right: 10px;
    
}

.rightcontainers{
    width: 100%;
    /* background-color: cadetblue; */
    display: flex;
    height: 100px;
    align-items: center;
    
}
.leftbox{
    width: 50%;
    margin-left: 10px;
    margin-right: 40px;
}
.boxheading{
    font-weight: 900;
    font-size: 20px;
}
.boxdetail{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: grey;
}
.iconcontainer{
    width: 30%;
    /* background-color: aquamarine; */
    height: 40px;
    margin-top: 5px;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}